<!DOCTYPE html>
<html>
    <head>
        <!-- CCS stylesheet -->
        <link rel="stylesheet" href="/static/styles.css">

        <!-- CSS for custom range slider, from Customized Range Slider by Chris Coyier -->
        <link rel="stylesheet" href="/static/slider.css">
        
        <!-- bootstrap css styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- bootstrap javascript  -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- meta tag for proper scaling 
        <meta name="viewport" content="width=device-width, initial-scale-1">-->
        
        <!-- socket.io javascript -->
        <script src="/socket.io/socket.io.js"></script>
        <script>const socket = io(); </script>

        <title>Twitter Chimes</title>
    </head>

    <body>

        <div class="container">
            <br>
            <div class="row align-items-start justify-content-center">
                <h1 class="display-2 text-center" id="banner" >Twitter Chimes</h1>
            </div>
            <br>
            <div class="row align-items-center justify-content-center">
                <div class="col-10">
                    <div class="jumbotron bg-light text-dark">

                        <h1 class="display-4">{{ keyword }}</h1>
                        <p class="lead">This is the keyword for the current twitter stream.</p>
                        <hr class="my-4">
                        <br>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-5 text-center">
                            {% block button %}{% endblock %}
                            </div>
                            <div class="col-auto"></div>
                            <div class="col-5 text-center">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#synthControls">
                                    Synth Controls
                                </button>
                            </div>
                        </div>

                        <br>

                        <div class="collapse" id="synthControls">
                            <hr class="my-4">
                            <div class="row justify-content-center">
                                <button type="submit" id="playSound" class="btn btn-primary">Test Sound</button>       
                            </div>
                            <br>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-1">
                                    <span>Volume: </span>
                                </div>
                                <div class="col-4">
                                    <input type="range" min="0.0" max="1.0" step="0.01" value="1.0" name="volume" id="volumeControl">
                                </div>
                            </div>
            
                            <div class="row align-items-center justify-content-center">
                                <div class="col-1">
                                    <span>Reverb: </span>
                                </div>
                                <div class="col-4">
                                    <input type="range" min="0.0" max="1.0" step="0.01" value="0.25" name="reverb" id="reverbControl">
                                </div>
                            </div>
            
                            <div class="row align-items-center justify-content-center">
                                <div class="col-1">
                                    <span>FM: </span>
                                </div>
                                <div class="col-4">
                                    <input type="range" min="0.0" max="4.0" step="0.04" value="1.0" name="fm" id="fmControl">
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class = "input-group col-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="oscType">Osc Type:</label>
                                    </div>
                                    <select class="custom-select" id="oscType">
                                        <option value="sine" selected>Sine</option>
                                        <option value="square">Square</option>
                                        <option value="sawtooth">Sawtooth</option>
                                        <option value="triangle">Triangle</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class = "input-group col-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="tonality">Tonality:</label>
                                    </div>
                                    <select class="custom-select" id="tonality">
                                        <option value="maj" selected>Major Pentatonic</option>
                                        <option value="min">Minor Pentatonic</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <br>
           
        </div>

        {% block body %}{% endblock %}
        
    </body>

    <!-- audio implementation -->
    <script src="/static/audio-math.js"> </script>
    <script src="/static/audio.js"> </script>
    
    {% block script %}{% endblock %}

</html>