<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrap css styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- bootstrap javascript  -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- meta tag for proper scaling 
        <meta name="viewport" content="width=device-width, initial-scale-1">-->
        
        <!-- socket.io javascript -->
        <script src="/socket.io/socket.io.js"></script>

        <title>Twind Chimes</title>
    </head>

    <body>

        {% block body %}{% endblock %}

        <br>

        <div class="input-group justify-content-center">
            <button type="submit" id="playSound" class="btn btn-primary">Test Sound</button>
        </div>
        
    </body>

    <!-- audio implementation -->
    <script src="/static/audio.js"> </script>
    
    <!-- client side communication with io server -->
    <script src="/static/clientio.js"> </script>

</html>