{% extends 'base.html' %}

{% block button %}

    <form method="GET", action="/stop">
        <button type="submit" id="stopBtn" class="btn btn-primary" autofocus>Stop Stream</button> 
    </form>

{% endblock %}

{% block body %}

<div class="container col-4" style="overflow-y: scroll; height: 300px;" id="#tweetbox"></div>

{% endblock %}

{% block script %}
`   <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    <script src="/static/audio-stream.js"></script>
{% endblock %}