{% extends 'base.html' %}

{% block button %}

    <form method="GET", action="/stop">
        <button type="submit" id="stopBtn" class="btn btn-primary btn-lg" autofocus>Stop</button> 
    </form>

{% endblock %}

{% block button2 %}

<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#tweetStream">
    Tweets
</button>

{% endblock %}

{% block body %}

<hr class="my-4">
                            
<div class="container col-lg-6 justify-content-center" style="overflow-y: auto; height: 300px;" id="#tweetbox"></div>

{% endblock %}

{% block script %}
    <script src="/static/audio-stream.js"></script>
{% endblock %}